<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
      <a class="navbar-brand">
        <img src="./assets/brand.webp" alt="NoSQL DB Icon" class="me-2" style="max-height: 35px; border-radius: 50%;">NoSQL DB
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active"  routerLink="/management/nodes">Manage nodes</a>
          </li>
      </ul>


      <div>
        <a style="cursor: pointer;color: aliceblue;" (click)="authService.logout()">
          <i class="fa-solid fa-right-from-bracket  me-1"></i>Logout
        </a>
      </div>
      
    </div>
  </nav>